[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Slony Documentation
Exec="INSTALL_DIR/Slony/scripts/launchSlonyDocs.sh"
Icon=pg-launchSlonyDocs.png
Terminal=false
Type=Application
