[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Npgsql User Manual
Exec="INSTALL_DIR/scripts/launchbrowser.sh" http://npgsql.projects.postgresql.org/docs/manual/UserManual.html
Icon=pg-launchUserManual.png
Terminal=false
Type=Application

