[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Stop Postgres Plus HQ agent
Exec=HQAGENT_INSTALLDIR/scripts/launchagentctl.sh stop
Icon=hqagent-stop.png
Terminal=false
Type=Application
