[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=psqlODBC Documentation
Exec="INSTALL_DIR/scripts/launchbrowser.sh" "file://INSTALL_DIR/docs/index.html"
Icon=pg-launchOdbcDocs.png
Terminal=false
Type=Application

