[Desktop Entry]
Encoding=UTF-8
Name=PostgreSQL release notes
Exec="PG_INSTALLDIR/scripts/launchbrowser.sh" file://PG_INSTALLDIR/doc/postgresql/html/release.html
Terminal=false
Type=Application
Icon=pg-help.png
