[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=pgAdmin help
Exec="PG_INSTALLDIR/scripts/launchbrowser.sh" "file://PG_INSTALLDIR/pgAdmin 4/docs/en_US/html/index.html"
Terminal=false
Type=Application
Icon=pg-help-PG_VERSION_STR.png
