[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Installation notes
Exec="PG_INSTALLDIR/scripts/launchbrowser.sh" file://PG_INSTALLDIR/doc/installation-notes.html
Terminal=false
Type=Application
Icon=pg-help.png
