[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Restart server
Exec=PG_INSTALLDIR/scripts/launchsvrctl.sh restart
Icon=pg-restart.png
Terminal=false
Type=Application
