[Desktop Entry]
Encoding=UTF-8
Name=Stop Server
Exec=PG_INSTALLDIR/scripts/launchsvrctl.sh stop
Icon=pg-stop.png
Terminal=false
Type=Application
OnlyShowIn=Old;

