[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Start server
Exec=PG_INSTALLDIR/scripts/launchsvrctl.sh start
Icon=pg-start-PG_VERSION_STR.png
Terminal=false
Type=Application
