[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Tuning Wizard
Exec="INSTALL_DIR/scripts/ctlTuningWizard.sh"
Icon=launch-TuningWizard.png
Terminal=false
Type=Application
