[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Tuning Wizard
Exec="INSTALLDIR/scripts/launchTuningWizard.sh"
Icon=enterprisedb-launchTuningWizard.png
Terminal=false
Type=Application
