[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=pgJDBC Home Page
Exec="INSTALL_DIR/scripts/launchbrowser.sh" http://jdbc.postgresql.org/
Icon=mozilla-browse.png
Terminal=false
Type=Application

