[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=JDBC Docs
Exec="INSTALL_DIR/PostGIS/scripts/launchJDBCDocs.sh"
Icon=enterprisedb-launchJDBCDocs.png
Terminal=false
Type=Application
