[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PostGIS Docs
Exec="INSTALL_DIR/PostGIS/scripts/launchPostGISDocs.sh"
Icon=pg-launchPostGISDocs-POSTGIS_VERSION_STR-PG_VERSION_STR.png
Terminal=false
Type=Application
