[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Drupal7
Exec="INSTALL_DIR/Drupal7/scripts/launchDrupal.sh" INSTALL_DIR
Icon=pg-launchDrupal.png
Terminal=false
Type=Application

