[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=ApachePhp
Exec="INSTALL_DIR/scripts/launchApachePhp.sh"
Icon=launch-ApachePhp.png
Terminal=false
Type=Application
