[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Stop Apache
Exec="INSTALL_DIR/scripts/ctlApache.sh" "stop"
Icon=pg-stopApache.png
Terminal=false
Type=Application
