[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Stop Postgres Plus HQ server
Exec=@@INSTALLDIR@@/scripts/launchsvrctl.sh stop
Icon=pphq-stop.png
Terminal=false
Type=Application
