[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Start Postgres Plus HQ agent
Exec=PPHQ_INSTALLDIR/scripts/launchagentctl.sh start
Icon=pphq-agent-start.png
Terminal=false
Type=Application
